<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de Torta Fritas</title>
</head>
<body>
    <h1>Receta de torta fritas</h1>
    <h4>Descripcion de receta</h4>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>1/2 kg de harina</li>
        <li>4 cucharadas de grasa o manteca</li>
        <li>1/2 taza de agua</li>
        <li>2 cucharaditas de sal</li>
        <li>Aceite o grasa de vaca para freír</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type= "i">
        <li>Poner en un bol la harina cernida y colocar en el centro la grasa a temperatura ambiente.</li>
        <li>Con la punta de los dedos ir tomando la masa, agregando de a poco el agua con la sal y seguir hasta formar un bollo.</li>
        <li>Amasarlo enérgicamente hasta que la masa forme ampollas en su superficie.</li>
        <li>Dejar reposar durante 1 o 2 horas y luego cortar pequeñas pelotitas, achatarlas con la palma de la mano y pincharlas con un tenedor.</li>
        <li>Freírlas enseguida en abundante aceite o grasa muy caliente, retirar con espumadera y colocar sobre papel blanco las torta fritas para que se escurran.</li>
        <li>Espolvorearlas con azúcar molida.</li>
    </ol>
    <a href="https://www.lanacion.com.ar/recetas/dulces/tortas-fritas-criollas-nid07042014/">
        Leer esta receta en <strong>La Nacion</strong>
    </a>
    <br>
    <a href="instructivo1.html.html">
        Leer receta de <strong>arroz con leche</strong>
    </a>
    <br>
    <a href="../../index.html.html">
        Volver al inicio
    </a>

</body>
</html>