<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta arroz con leche</title>
</head>
<body>
    <h1>Receta de Arroz con leche</h1>
    <h4>Descripcion de receta</h4>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>Arroz</li>
        <li>Leche</li>
        <li>Agua</li>
        <li>Azucar</li>
        <li>Canela</li>
        <li>Vainilla</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="i">
        <li>Poner el arroz en una olla con agua y llevar a ebullición.</li>
        <li>Escurrir el arroz y enjuagarlo con agua fría.</li>
        <li>Volver a poner el arroz en la olla con la leche, el azúcar, la canela y la vainilla.</li>
        <li>Cocinar a fuego lento, revolviendo de vez en cuando, hasta que el arroz esté cocido y el líquido se haya espesado.</li>
        <li>Retirar del fuego y dejar enfriar.</li>
    </ol>
    <a href="https://tn.com.ar/cocina/2024/01/22/como-se-hace-el-plato-favorito-de-julian-alvarez-las-claves-para-preparar-un-buen-arroz-con-leche/?gad_source=1&gclid=Cj0KCQjw3bm3BhDJARIsAKnHoVVg42_OUcR6l1E6G-jPI3Nvmneu6t5ONQzO_Z0RLl1j_9lmkbAVLpkaAjmKEALw_wcB">
        Leer esta receta en <strong>Tn</strong>
    </a>
    <br>
    <a href="instructivo2.html.html">
        Leer receta de <strong>torta fritas</strong>
    </a>
    <br>
    <a href="../../index.html.html">
        Volver al inicio
    </a>
</body>
</html>